		.contenedor {
			background-color: blue;
			position: relative;
			overflow: hidden;
		}
		
		.contenedor div{
			width: 33%;
			float:left;
		}
		.interior1{
			background-color: yellow;

		}
		.interior2{

			background-color: red;
			cursor: pointer;

		}
		.interior2:hover{

			background-color: yellow;
			cursor: pointer;

		}
		.interior3{

			background-color: pink;
		}

